<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#" style="font-size: 30px; color: #e9e41d;">Red Hat</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/dashboard/1">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Store
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/mouse/1">Mouse</a>
            <a class="dropdown-item" href="/keyboard/1">Keyboard</a>
              <a class="dropdown-item" href="/headphones/1">Headphones</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/cart">Cart</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" href="/products">Products</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/report/all">Create Report</a>
          </li>
       
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="color: #e9e41d; border-color: yellow;">Search</button>
      </form>
      <li class="nav-item">
        <a href="/users/logout" class="btn btn-outline-success my-2 my-sm-0" style="color: #e9e41d; border-color: yellow;">Logout</a>
      </li>
    </div>
  </nav>