<body style="background-color: white;background-image: url(https://t3.ftcdn.net/jpg/03/23/88/08/360_F_323880864_TPsH5ropjEBo1ViILJmcFHJqsBzorxUB.jpg);font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
  <div class="row mt-5">
    <div class="col-md-4 m-auto">
      
      <div class="card card-body text-center" style="background-color: white;" > 
       <center> <img src="https://img.freepik.com/free-vector/cloud-computing-security-abstract-concept-illustration_335657-2105.jpg?w=2000" width="65%"></center><br>
        <p style="font-size: 30px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: crimson;">Welcome to Admin Red Hat</p><br>
        <a href="/listproduct">
          <button type="button" class="btn btn-warning btn-block" style="font-size: 20px;">List Products</button>
        </a>
        <br>
        <a href="/viewcharts">
          <button type="button" class="btn btn-warning btn-block" style="font-size: 20px;">View Charts</button>
        </a><br>
        <a href="/adminManageProduct/1">
          <button type="button" class="btn btn-warning btn-block" style="font-size: 20px;">Manage Products</button>
        </a><br>
      </div>
      
    </div>
  </div>
  </body>
  