<body style="background-color: white;background-color: white;background-image: url(https://thebusinessofesports.com/wp-content/uploads/2021/12/Screen-Shot-2019-10-18-at-10.42.18-PM.jpg);">
  <div class="row mt-5">
    <div class="col-md-4 m-auto">
      <div class="card card-body" style="background-color: white;">
          <img src="https://st4.depositphotos.com/34618016/40389/v/950/depositphotos_403895126-stock-illustration-isometric-online-payments-online-payment.jpg?forcejpeg=true" width="85%" style="float: none; margin-left: 4%;"> 
          <h1 class="text-center mb-3" style="color: steelblue;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 40px";> Add Payment Method </h1><br>
        <% include ./partials/messages %>
        <form action="/users/register" method="POST">
          <div class="form-group">
            <label for="methodname">Method Name</label>
            <input
              type="text"
              id="methodname"
              name="methodname"
              class="form-control"
              placeholder="Enter Method name"
              value="<%= typeof methodname != 'undefined' ? methodname : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="accnumber">Account No. / IBAN</label>
            <input
              type="text"
              id="accnumber"
              name="accnumber"
              class="form-control"
              placeholder="Enter Account No. / IBAN"
              value="<%= typeof accnumber != 'undefined' ? accnumber : '' %>"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Add
          </button>
        </form>
      </div>
    </div>
  </div>
  </body>