<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#" style="font-size: 30px; color: #e9e41d;">Red Hat</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Home </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Store
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/mouse">Mouse</a>
            <a class="dropdown-item" href="/keyboard">Keyboard</a>
              <a class="dropdown-item" href="/headphones">Headphones</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/cart">Cart</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About </a>
          </li>
  
          <li class="nav-item active">
            <a class="nav-link" href="/products">Products <span class="sr-only">(current)</span></a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/comparison">Comparison</a>
          </li>
       
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="color: #e9e41d; border-color: yellow;">Search</button>
      </form>
      <li class="nav-item">
        <a href="/users/logout" class="btn btn-outline-success my-2 my-sm-0" style="color: #e9e41d; border-color: yellow;">Logout</a>
      </li>
    </div>
  </nav>

  <div>
    <div  class="products">
        <div class="container">
           <div class="row">
              <div class="col-md-12">
                 <div class="titlepage">
                    <h2>Our Products</h2>
                 </div>
              </div>
           </div>
           <div class="row">
              <div class="col-md-12">
                 <div class="our_products">
                    <div class="row">
                       <div class="col-md-4 margin_bottom1">
                          <div class="product_box">
                             <figure><img src="https://icons.iconarchive.com/icons/google/noto-emoji-objects/128/62831-computer-mouse-icon.png" alt="#"/></figure>
                             <h3>Mouse</h3>
                          </div>
                       </div>
                       <div class="col-md-4 margin_bottom1">
                          <div class="product_box">
                             <figure><img src="https://icons.iconarchive.com/icons/elegantthemes/beautiful-flat/128/keyboard-icon.png" alt="#"/></figure>
                             <h3>Keyboard </h3>
                          </div>
                       </div>
                       <div class="col-md-4 margin_bottom1">
                          <div class="product_box">
                             <figure><img src="https://icons.iconarchive.com/icons/paomedia/small-n-flat/128/headphone-icon.png" alt="#"/></figure>
                             <h3>HeadPhone</h3>
                          </div>
                       </div>
                       
                       <div class="col-md-12">
                          <a class="read_more" href="#">See More</a>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
  <footer>
    <div class="footer">
       <div class="container">
          <div class="row">
             <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <ul class="social_icon">
                   <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                   <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                   <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                   <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <h3>About Us</h3>
                <ul class="about_us">
                   <li>dolor sit amet, consectetur<br> magna aliqua. Ut enim ad <br>minim veniam, <br> quisdotempor incididunt r</li>
                </ul>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <h3>Contact Us</h3>
                <ul class="conta">
                   <li>dolor sit amet,<br> consectetur <br>magna aliqua.<br> quisdotempor <br>incididunt ut e </li>
                </ul>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <form class="bottom_form">
                   <h3>Help us Grow</h3>
                   <input class="enter" placeholder="Enter your email" type="text" name="Enter your email">
                   <button class="sub_btn">subscribe</button>
                </form>
             </div>
          </div>
       </div>
       <div class="copyright">
          <div class="container">
             <div class="row">
                <div class="col-md-12">
                   <p>© 2022 All Rights Reserved</a></p>
                </div>
             </div>
          </div>
       </div>
    </div>
  </footer>

  <style>
      .footer {
     background: url(../images/footer.jpg);
     background-repeat: no-repeat;
     background-size: 100% 100%;
     padding-top: 115px;
     text-align: center;
}

.footer .titlepage {
     text-align: left;
     padding-bottom: 0px;
}

.footer .titlepage h2 {
     color: #fff;
     margin: inherit;
     border-bottom: #fff solid 1px;
}


ul.social_icon {
     padding-top: 37px;
     width: 100%;
     float: left;
     text-align: left;
}

ul.social_icon li {
     display: inline-block;
}

ul.social_icon li a {
     background: #fff;
     width: 40px;
     height: 40px;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 25px;
     border-radius: 30px;
     margin: 0 3px;
}

ul.social_icon li a:hover {
     background-color: #48ca95;
     color: #fff;
}

.footer h3 {
     font-weight: 600;
     font-size: 25px;
     line-height: 25px;
     text-align: left;
     color: #fff;
     padding-bottom: 15px;
}

.about_us li {
     color: #fff;
     font-size: 17px;
     text-align: left;
}

.conta li {
     color: #fff;
     font-size: 17px;
     text-align: left;
}

.bottom_form h3 {
     font-weight: 600;
     font-size: 25px;
     line-height: 25px;
     text-align: left;
     color: #fff;
     padding-bottom: 15px;
}

.bottom_form .enter {
     border: inherit;
     padding: 0px 19px;
     width: 100%;
     height: 45px;
     background: #fffffff2;
     color: #ccc8c8;
     font-size: 17px;
     font-weight: 600;
     float: left;
     border-radius: 10px;
     margin-bottom: 20px;
}

.sub_btn {
     font-size: 17px;
     transition: ease-in all 0.5s;
     background-color: #e9e41d;
     color: #fff;
     padding: 10px 0px;
     max-width: 147px;
     border-radius: 10px;
     width: 100%;
     display: block;
     font-weight: 500;
     text-transform: uppercase;
}

.sub_btn:hover {
     background-color: #000;
     transition: ease-in all 0.5s;
     color: #fff;
}

.copyright {
     margin-top: 80px;
     padding-bottom: 20px;
}

.copyright p {
     color: #ddd;
     font-size: 18px;
     line-height: 22px;
     text-align: center;
     border-top: #ddd solid 1px;
     padding-top: 25px;
     font-weight: normal;
}

.copyright a {
     color: #ddd;
}

.copyright a:hover {
     color: #48ca95;
}
/* ------------------------------------------- */
.read_more {
     font-size: 17px;
     background-color: #e9e41d;
     color: #fff !important;
     padding: 13px 0px;
     width: 100%;
     max-width: 190px;
     text-align: center;
     display: inline-block;
     transition: ease-in all 0.5s;
     font-weight: 500;
}

.read_more:hover {
     background: #000;
     color: #fff;
     transition: ease-in all 0.5s;
}
/* --------------------------------------------- */

.products {
     margin-top: 90px;
     background: #f7f7f7;
     padding: 90px 0 90px 0;
}

.our_products {
     background-color: #fff;
     padding: 90px 0;
}

.our_products .product_box {
     text-align: center;
     margin-bottom: 30px;
}

.our_products .product_box figure {
     margin: 0;
}

.our_products .product_box h3 {
     width: 200px;
     color: #fff;
     font-size: 20px;
     line-height: 20px;
     background-color: #252525;
     font-weight: 500;
     margin: 0 auto;
     padding: 10px 0;
     margin-top: 40px;
     transition: ease-in all 0.5s;
}

.our_products .product_box h3:hover {
    background: orange;
    transition: ease-in all 0.5s;
}

.margin_bottom1 {
     margin-bottom: 60px;
}

.our_products .read_more {
     margin: 0 auto;
     display: block;
     margin-top: 50px;
     background-color: transparent;
     border: #48ca95 solid 2px;
     color: #48ca95 !important;
     max-width: 232px;
     padding: 15px 0;
}

.our_products .read_more:hover {
     background: #48ca95;
     color: #000 !important;
}

.titlepage {
     text-align: center;
     padding-bottom: 60px;
}

.titlepage h2 {
     font-size: 40px;
     color: #090807;
     line-height: 55px;
     font-weight: bold;
     padding: 0;
     text-transform: uppercase;
     border-bottom: orange solid 1px;
     max-width: 315px;
     margin: auto;
}
  </style>