<% include ./partials/header %>

  <div style="background-color: #000;">
    <div  class="products" >
        <div class="container" >
           <div class="row">
              <div class="col-md-12">
                 <div class="titlepage" >
                    <h2>Our Products</h2>
                 </div>
              </div>
           </div>
           <div class="row">
              <div class="col-md-12">
                 <div class="our_products">
                    <div class="row">
                       <div class="col-md-4 margin_bottom1">
                          <div class="product_box">
                             <figure><img src="https://icons.iconarchive.com/icons/google/noto-emoji-objects/128/62831-computer-mouse-icon.png" alt="#"/></figure>
                             <h3>Mouse</h3>
                          </div>
                       </div>
                       <div class="col-md-4 margin_bottom1">
                          <div class="product_box">
                             <figure><img src="https://icons.iconarchive.com/icons/elegantthemes/beautiful-flat/128/keyboard-icon.png" alt="#"/></figure>
                             <h3>Keyboard </h3>
                          </div>
                       </div>
                       <div class="col-md-4 margin_bottom1">
                          <div class="product_box">
                             <figure><img src="https://icons.iconarchive.com/icons/paomedia/small-n-flat/128/headphone-icon.png" alt="#"/></figure>
                             <h3>HeadPhone</h3>
                          </div>
                       </div>
                       
                       <div class="col-md-12">
                          <a class="read_more" href="#">See More</a>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
  <% include ./partials/footer %>

 