<body style="background-color: white;background-image: url(https://t3.ftcdn.net/jpg/03/23/88/08/360_F_323880864_TPsH5ropjEBo1ViILJmcFHJqsBzorxUB.jpg);font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    
    <div class="card card-body text-center" style="background-color: white;margin-top: 60px;"> 
      <iframe style="background: #F1F5F4;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2); width: 800px; height:600px; margin-left: 50px; margin-top: 60px;"  src="https://charts.mongodb.com/charts-project-0-wgjvx/embed/dashboards?id=62995518-2965-41cf-8a84-fc09d00ac98d&theme=light&autoRefresh=true&maxDataAge=3600&showTitleAndDesc=false&scalingWidth=scale&scalingHeight=scale"></iframe> 
  </div>
    
  </div>
</div>
</body>
