<body style="background-color: white;background-image: url(https://t3.ftcdn.net/jpg/03/23/88/08/360_F_323880864_TPsH5ropjEBo1ViILJmcFHJqsBzorxUB.jpg);">
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    
    <div class="card card-body text-center" > 
      <img src="https://cdni.iconscout.com/illustration/premium/thumb/gamers-play-online-video-game-5071155-4231654.png">
      <p style="font-size: 30px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: violet;">Welcome to Red Hat</p><br>
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
        style="margin-top: 50px;">Register</a
      >
      <a href="/users/login" class="btn btn-secondary btn-block" >Login</a>
    </div>
    
  </div>
</div>
</body>
