<img src="https://stories.freepiklabs.com/storage/17759/welcome-rafiki-930.png" width="30%"  style="float: right; margin-left:-70%; margin-top: 9.5%;margin-right: -10%;">
<img src="https://freedesignfile.com/upload/2019/11/Mobile-phone-shopping-illustration-vector.jpg" width="30%"  style="float: left; margin-left:-10%; margin-top: 10%;margin-right: -20%;">
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    
    <div class="card card-body text-center" > 
      <img src="https://www.clickandfab.com/wp-content/uploads/2021/06/Popular-Ecommerce-Business.png">
      <p style="font-size: 30px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: cornflowerblue;">Welcome to Ecommerce Website</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
        style="margin-top: 50px;">Register</a
      >
      <a href="/users/login" class="btn btn-secondary btn-block" >Login</a>
    </div>
    
  </div>
</div>

